# MATLAB specific files
*.asv
*.fig
*.mlx
*.mat
*.mex*
*.mlappinstall
*.mltbx
*.slxc
*.mdl
*.xvc

# MATLAB backup files
*~ 
*.bak

# Simulink autosave files
slprj/
sfunctbl/
*_autosave.slx

# MATLAB code generation files
codegen/
*.mexw32
*.mexw64
*.mexglx
*.mexmaci64

# MATLAB project files
.SimulinkProject/
.slxproj
.prj

# Ignore personal settings and preferences files
*.prm
*.tmr
*.tlc